.Cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  &__card {
    width: 100%;

    @include breakpoint($xs) {
      width: 50%;
    }

    @include breakpoint($sm) {
      width: 33.3333%;
    }
  }
}
